@charset "utf-8";
/*
	重置页面默认CSS
	引入文件时，应放在CSS中的第一个
*/
.clean{ clear:both; height:0; font-size: 1px; line-height: 0px; overflow:hidden; padding:0}
.clear:after{display:block;clear:both;height:0px;margin-top:-1px;content:''}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,p {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
a{ cursor:pointer;color:#000;text-decoration:none}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var,i {font-weight: normal;font-style: normal;}
ol,ul {list-style: none;}
/*caption,th {text-align: left;}*/
h1,h2,h3,h4,h5,h6,i {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
body,button,input,select,table,textarea{font: normal 100% 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;font-size:16px;line-height:1.25em;}
body{ height:100%; font: normal 100% 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; }




/*组件库事项树样式*/
.or-thirdDivPWord-jdf{
    display: inline-block;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-left: 10px;
}
.firstUl-jdf li{
    cursor: pointer;
}
.matNavWrap-jdf{
    display: inline-block;
    width: 350px;
    background: #fff;
    margin-right: 20px;
    float: left;
}
.matNav-jdf{
    background: #fff;
    min-height: 300px;
}

.firstDiv-jdf{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #b7b7b7;
}
.firstDivP-jdf{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    float: left;
}
.orgTreefirstDivPMap-jdf{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #FFCC22;
}
.orgTreefirstDivPMap-jdf i{
    display: inline-block;
    width: 24px;
    height:24px;
    /*background: url(img/orgTree001.png) 0px 0px no-repeat;*/
    vertical-align: middle;
    position:relative;
    left:5px;
}
.orgTree-hiden-one{
    float: left;
    display: inline-block;
}
.orgTree-hiden-one i{
    display: inline-block;
    width: 13px;
    height:28px;
    background: url(img/orgTree-hiden-one.png) 0px 0px no-repeat;
    vertical-align: middle;
    position:relative;
    top: 7px;
    left:5px;
}
.gwglMap-jdf{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.gwglMap-jdf i{
    display: inline-block;
    width: 40px;
    height: 30px;
    background: url(img/gwgl.png) 0px 0px no-repeat;
    vertical-align: middle;
}
.firstDivPWord-jdf{
    padding-left: 8px;
    display: inline-block;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.firstDivPBubble-jdf{
    padding: 2px 6px;
    background: #ff2100;
    border-radius: 10px;
    color: #fff;
    margin-left: 5px;
    font-size: 10px;
}

.orgTreesecondDiv_li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.orgTreesecondDivP-jdf{
    width: 100%;
    height: 39px;
    display: inline-block;
    float: left;
}
.secondDivPMap-jdf{
    display: inline-block;
    height:42px;
    width: 40px;
    background: #EE7700;
    float: left;
}
.secondDivPMap-jdf i{
    display: inline-block;
    width: 40px;
    height: 43px;
    /*background: url(img/ul-2.png) no-repeat;*/
}
.orgTreesecondDivPWord{
    display: inline-block;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-left:10px;
}
.orgTreethirdLi{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
}
.orgTreethirdDivP{
    display: inline-block;
    float: left;
}
.thirdDivPMap-jdf{
    display: inline-block;
    height:40px;
    width:40px;
    background: #2591d5;
    float: left;
}

.thirdDivPBubble-jdf{
    padding: 2px 6px;
    background: #ff2100;
    border-radius: 10px;
    color: #fff;
    margin-left: 5px;
    font-size: 10px;
}
.secondDivPMap2-jdf{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(img/secondDivPMap2.png) no-repeat;
    float:left;
}
.orgTree002{
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(img/orgTree002.png) no-repeat;
    float:left;
    position:relative;
    left:3px;
}
.orgTree003{
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(img/orgTree003.png) no-repeat;
    float:left;
    position:relative;
    left:3px;
}

.orgTree004{
    display: inline-block;
    width: 3px;
    height: 11px;
    background: url(img/orgTree004.png) no-repeat;
    float: left;
    position: relative;
    top: 27px;
    left: -3px;
}
.or-thirdUl-jdf>li:last-child>div>a>p>span:nth-child(3){
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(img/orgTree005-last.png) no-repeat;
    float:left;
    position:relative;
    left:3px;
}
.or-thirdUl-jdf>li:last-child>div>a>p>span:nth-child(2){
    display: inline-block;
    width: 20px;
    height: 40px;
    float:left;
    position:relative;
    left:3px;
}
.or-secondUl-jdf li:last-child>.or-thirdUl-jdf>li>div>a>p>span:nth-child(2){
    display: inline-block;
    width: 20px;
    height: 40px;
    float:left;
    background: url(img/orgTree006-hiden.png) no-repeat;
    position:relative;
    left:3px;
}
.or-secondUl-jdf>li:last-child>div>p>span:nth-child(2){
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(img/orgTree005-last.png) no-repeat;
    float:left;
    position:relative;
    left:3px;
}
.orgTree-can{
    display: inline-block;
    /*width: 19px;*/
    /*height: 19px;*/
    /*background: url(img/orgTree-can.png) no-repeat;*/
    float:left;
    position:relative;
    left:8px;
    top:10px;
}
.secondDivPMap2-chag{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(img/secondDivPMap2-chag.png) no-repeat;
    float:left;
}
.searBoxLef-color-jdf{
    background: #EE7700;
}
.searBoxLef-jdf{
    float: left;
    width: 154px;
    font-weight: bold;
    line-height: 50px;
}
.searBoxLef-jdf p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.searBoxRig-jdf{
    float: left;
    width: 154px;
    font-weight: bold;
    line-height: 50px;
}
.searBoxRig-jdf p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.searBoxTag-jdf{
    float: right!important;
    margin-top: 0;
    /*border-left: 2px solid #fff;*/
    float: left;
    margin-left: 0px;
    border-bottom: 1px solid #fff;
}
.searBoxLi-jdf{
    margin: 0px;
    height: 50px;
    width: 40px;
    background: #FF7744;
    float: left;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.searBoxImg-jdf{
    position: relative;
    top: 8px;
    width: 30px;
    height: 20px;
    vertical-align: middle;
}
.searBoxHid-jdf{
    margin-top: 28px;
    display: none;
    margin-top: 8px;
    position: absolute;
    width: 110px;
    line-height: 40px;
    background: #0084e1;
    border: 1px solid #0084e1;
    text-align: center;
    color: #fff;
    z-index: 999;
    font-size: 14px;
    border-radius: 10px;
    border: #35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.searBoxHid-left-jdf{
    left: 243px;
}
.searBoxHid-nav1-jdf{
    position: absolute;
    left: 65px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid dashed dashed dashed;
}
.searBoxHid-bor1-jdf{
    border-bottom: 10px solid #0084e1;
    top: -20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.searBoxHid-nav1-jdf{
    position: absolute;
    left: 65px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid dashed dashed dashed;
}
.searBoxHid-bor1-jdf{
    border-bottom: 10px solid #0084e1;
    top: -20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.searBox-jdf{
    background:#FFBB66;
}
/*组件库事项树样式结束*/
